#DB METADATA
DB_USER=
DB_PASSWORD=
DB_NAME=
DOCKER_USERNAME=

#ACCESS METADATA
ACCESS_SECRET=
ACCESS_EXPIRATION=

#REFRESH METADATA
REFRESH_SECRET=
REFRESH_EXPIRATION=

# GOOGLE OAUTH METADATA
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_TYPE=

#KAKAO OAUTH METADATA
KAKAO_CLIENT_ID=
KAKAO_SECRET=

#NAVER OAUTH METADATA
NAVER_CLIENT_ID=
NAVER_SECRET=

#FIREBASE_METADATA
FIREBASE_KEY_PATH=
FIREBASE_LOCAL_KEY_PATH=

#PASSWORD RESET METADATA
PASSWORD_RESET_SECRET=
PASSWORD_RESET_EXPIRATION=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_BUCKET_NAME=

TEST_USER_ID=
TEST_USER_PASSWORD=

GOOGLE_MAP_KEY=

AI_MODEL_ADDRESS=

OPENAI_ACCESS_KEY=
